.container-geral {
    border: 2px solid #000;
    padding: 30px;
    border-radius: 10px;
    margin: 40px auto;
    width: fit-content;
}

.linha {
    display: flex;
    gap: 40px;
}

.caixa-esq {
    border-right: 2px solid #555;
    padding-right: 40px;
}

.caixa-dir {
    padding-left: -20px;
}

h2 {
    padding-bottom: -80px;
}

body {
    font: 15pt normal Arial;
}

p {
    font: 14pt normal Arial;
}

.txtComp, .txtLet, .txtMai, .txtMin {
    font: 15px normal Arial;
}
