body {
    background: pink;
}

h1 {
    font: 20pt normal Arial;
    font-weight: bolder;
}

input {
    font: 12pt normal Arial;
    width: 100px;
    border-radius: 5px;
}

div {
    font: 15pt normal Arial;
    padding-top: 15px;
}