body {
    background: blue;
}

h1 {
    font: 30pt normal Arial;
    color: white;
    margin-bottom: -10px;
}

p {
    font: 15pt normal Arial;
    color: white;
}

.containerGeral {
    border: solid 3px white;
    border-radius: 30px;
    width: fit-content;
    padding: 20px 20px 20px 20px;
}

h3 {
    font: 20pt normal Arial;
    color: white;
    margin-bottom: -2px;
}

input, button {
    margin-top: 10px;
}

.res {
    font: 15pt normal Arial;
    color: white;
    margin-top: 10px;
}