h1 {
    margin-top: 10%;
    font-size: 30pt;
    font-family: sans-serif;
}

.containerGeral {
    border: solid 3px;
    border-radius: 20px;
    width: fit-content;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;  
    gap: 10px;      
    align-items: center;
}

input {
    text-align: center;
}

h4 {
    font-size: 15pt;
    font-family: sans-serif;
    margin-bottom: -2px;
}

.res {
    font: 15pt;
    font-family: sans-serif;
}

