h1 {
    font-size: 40pt;
    font-family: sans-serif;
    margin-top: 10%;
}

.containerGeral {
    border: solid 2px;
    border-radius: 20px;
    width: fit-content;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h4 {
    font-size: 20pt;
    font-family: sans-serif;
    margin-bottom: -5px;
    margin-top: -5px;
}

.res {
    font-size: 15pt;
    font-family: sans-serif;
    margin-bottom: -5px;
}
