body {
    background: wheat;
}

h1 {
    font: 50pt normal Arial;
    font-weight: bolder;
}

p {
    font: 20pt normal Arial;
}

h2 {
    font: 30pt normal Arial;
    font-weight: bolder;
}

.container-geral {
    border: 2px solid black;
    padding: 30px 20px 40px 20px;
    border-radius: 10px;
    width: fit-content;
    background: tomato;
}

.res {
    font: 15pt normal Arial;
    padding-top: 20px;
}



