h1 {
    margin-top: 10%;
    font-size: 40pt;
    font-family: sans-serif;
}

.containerGeral {
    border: solid 3px;
    border-radius: 20px;
    width: fit-content;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    margin-top: -5px;
}

h4 {
    font-size: 20pt;
    font-family: sans-serif;
    margin: 0px;
}

.res {
    font-size: 15px;
    font-family: sans-serif;
}

