body {
    background: violet;
}

h1 {
    font: 50pt normal Arial;
}

.containerGeral {
    border: solid 3px black;
    border-radius: 20px;
    width: fit-content;
    padding: 20px 20px 20px 20px;
}

h2 {
    font: 30pt normal Arial;
}

.res {
    margin-top: 10px;
    font: 15pt normal Arial;
}

